
:root{
    --text-color: #1F6FEB;
    --title-color: #fff;
    --peragraph-color:#e5e7eb;
    --card-color:#161d27;

}
.hader-color{
    color: var(--text-color);
}

.peragraph-color{
    color: var(--peragraph-color);
}
.card-bg{
    background: var(--card-color);
}


.coustom-bg{
    background: var(--text-color);
    border-radius: 43%;
    padding: 8px 10px;
}
.main-content{
    position: relative;
}
.main-content::after{
    content: " ";
    border: 2px;
    background: var(--text-color);
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    z-index: 1;
}

.Page-Title .row{
    background:var(--text-color);
    margin-top: 100px;
    border-radius: 15px;
}

.Page-Title h1{
    color: var(--title-color);
}

.Page-Title h3 {
    color: var(--peragraph-color);
}

.Personal-Information{
    color: var(--peragraph-color);

}
.card{
    transition: 0.4s;
}
.card:hover{
        transform: translateY(-10px);
}